#ImpressumCont {
    border-radius: 50px;
    border-color: rgb(155, 0, 0);
    border-style: solid;
    justify-content: center ;
    align-items: center;
    padding-left: 250px;
    box-shadow: 0px 12px 23px 8px rgba(0,0,0,0.59);
    margin-bottom: 50px;
    font-size: x-large;
    
}