#ProjectHeadCont {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    font-family: Jupiter-Regular;
    font-size: larger;
}


/* Grid Parent */
.ProjectContent {
    justify-content: center;
    align-items: center;
}
.GridContainer {
    justify-content: center;
    align-items: center;
    
    column-gap: 100px;
}



/* /// Grid Sections /// */

#S1 {
    background-color: rgb(0, 0, 0);
}

        /* Section 1 */
#Section1A {
    grid-area: a;
    
}

#Section1B {
    grid-area: b;
}

        /* Setion 2 */
#Section2A {
    grid-area: a;
}

#Section2B {
    grid-area: b;
}
