@font-face {
    font-family: Jupiter-Regular;
    src: url(JupiterroidRegular-8Oeg0.ttf);
}



#TopNavBar {
    background-color: honeydew;
    box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.38);
    font-size: xx-large;
    font-family: Jupiter-Regular;
}