@font-face {
    font-family: Jupiter-Regular;
    src: url("../assets/Font/JupiteroidRegular-8Oeg0.ttf");
}



#TopNavBar {
    width: 2000px;
    background-color: honeydew;
    background-size: 125px;
    box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.38);
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Jupiter-Regular;
}

#topbarbtns {
    width: 100%;
    padding-bottom: 10px;
}
#HomeBtnContainer {
    transform: translate(50px, 0px);
    
}
#CVBtnContainer {
    transform: translate(75px, 0px);
}

#HomeBtn {
    font-family: Jupiter-Regular;
    font-size: xx-large;
    border: none;
    border-radius: 4px;
    background-color: cadetblue;
    text-align: center;
    background-position: center;    
}

#CVBtn {
    border: none;
    border-radius: 4px;
    background-color: cadetblue;
    text-align: center;
    background-position: center;    
}
.body {
    padding-bottom: 25px;
}

#IntroBox {
    padding-top: 35px;
    background-image: url("../assets/Img/image.png");
    background-position: center;
    background-size: cover;
    align-content: center;
    font-size: large;
    font-family: Jupiter-Regular;
    text-align: center;

}
#WIPCont {
    font-size: x-large;
    font-family: monospace;
    background-color: rgb(255, 240, 221);
}

.footer {
    background-color: rgb(177, 177, 177);
    box-shadow: 0px -7px 23px 0px rgba(0,0,0,0.34);
}