@font-face {
    font-family: Jupiter-Regular;
    src: url("../assets/Font/JupiteroidRegular-8Oeg0.ttf");
}

a {
    text-decoration: none;
}

html {
    background-color: #352F44;
}

nav {
    background-color: #5C5470;
    box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.38);
    border-radius: 8px;
    margin-bottom: 20px;
    height: 50px;
    display: flex;
    justify-content: center;

}
#navbar {
    background-color: #5C5470;
    height: 100%;
    width: 100%;
    max-width: 2000px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
nav a {
    height: 100%;
    font-family: Jupiter-Regular;
    font-size: xx-large;
    border: none;
    border-radius: 4px;
    background-color: #5C5470;
    text-decoration: none;
    color: #FAF0E6;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}
nav a:hover {
    background-color: #B9B4C7;
    
    
}
.body {
    background-color: #f7f4f3;
}
#raviloli {
    width: 100%;
    display: flex;
    padding-bottom: 25px;
    justify-content: center;
}

#BodyCenter {
    width: 100%;
    max-width: 2000px;
}

#introslideshow {
    
    border-radius: 8px;
    align-content: center;
    justify-content: center;
    display: flex;
    
}

#SF {
    size-adjust: 100%;
    align-content: center;
    justify-content: center;
    border-width: 5px;
    border-style: none;
    border-radius: 8px;
    border-color: #B9B4C7;
    box-shadow: 0px 9px 24px 5px rgba(0,0,0,0.72);
}
    


.slide {
    display: none;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    border-radius: 8px;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: 4;}
    to {opacity: 1;}
}

.GridContainer {
    
    overflow: hidden;
    text-decoration: none;
    align-items: center;
    font-family: Jupiter-Regular;
    justify-items: center;
    background-position: center;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-top: 25px;
    display: grid;
    grid: 
        'a a b b'
        'c c d d';
    row-gap: 75px;
}
#GIMG {
    width: 520px;
    height: 460px;
    block-size: auto;
    border-radius: 30px;
    size: 500px, 237px;
}
.grid-item {
    background-clip:content-box;
    color: #FAF0E6;
    background-color: #5C5470;
    text-decoration: none;
    border-radius: 50px;
    border: 4px solid #e2ded1;
    box-shadow: 0px 12px 23px 8px rgba(0,0,0,0.59);
}
.grid-item:hover {
    background-clip:border-box;
    background-color: #B9B4C7;
    transform:scale(1.05);
}
#GItem1 {
    grid-area: a;

}
#GItem2 {
    grid-area: b;

}

#GItem3 {
    grid-area: c;

}
#GItem4 {
    grid-area: d;

}
#ProjectTitle {
    text-decoration: none;
    font-size: x-large;
    text-decoration-line: none;
    color: #FAF0E6;
}
#ProjectDesc {
    text-decoration: none;
    font-size: large;
    text-decoration-line: none;
    color: #FAF0E6;
}
.ProjS1 {
    margin: 30px;
}


#WIPCont {
    font-size: x-large;
    color: #352F44;
    font-family: monospace;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    border-color: red;
    border-width: 4px;
    border-style: dashed;
    padding-bottom: 10px;
    justify-content: center;
    align-content: center;
}

footer {
    width: 100%;
    color: #FAF0E6;
    text-decoration: none;
    display: flex;
    background-color: #5C5470;
    justify-content: center;
    box-shadow: 0px -7px 23px 0px rgba(0,0,0,0.34);
    
}
#SiteFooter {
    width: 100%;
    max-width: 2000px;
    text-decoration: none;
    font-size: medium;
}


.GridFContainer {
    text-decoration: none;
    align-items: center;    
    font-family: Jupiter-Regular;
    justify-items: left;
    background-position: center;
    padding: 20px;
    display: grid;
    grid: 
        'a a b b'
        'c c d d';
    row-gap: 5px;
    column-gap: 5px;
    font-size: medium;
}

#GFItem1 {
        grid-area: a;
    text-decoration: none;
}
#GFItem2 {
    font-size: larger;
    text-decoration: none;
    grid-area: b;
}







#ProjS1 {
    border-color: #e2ded1;
    border-style: solid;
    border-radius: 50px 50px;
    border-width: 4px;
    box-shadow: 0px 12px 23px 8px rgba(0,0,0,0.59);
    padding: 30px;
}

footer pre{
   font-size: medium;
    
}

#GridContainerTitle {
    text-align: center;
    font-family: Jupiter-Regular;
    padding-top: 75px;
}

a {
    color: #FAF0E6;
}