@font-face {
    font-family: Jupiter-Regular;
    src: url("../assets/Font/JupiteroidRegular-8Oeg0.ttf");
}



#TopNavBar {
    background-color: honeydew;
    background-size: 125px;
    box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.38);
    font-size: xx-large;
    font-family: Jupiter-Regular;
}

#HomeBtn {
    padding-left: 50px;
    padding-bottom: 45px;
    border: none;
    border-radius: 4px;
    background-color: cadetblue;
}

#HomeBtn:hover {
    padding-left: 50px;
    border: none;
    border-radius: 4px;
    background-color: rgb(122, 187, 189);
}
.body {
    padding-top: 25px;
    padding-bottom: 25px;
}

#IntroBox {
    padding-top: 25px;
    background-image: url("../assets/Img/image.png");
    background-position: center;
    background-size: cover;
    align-content: center;
    font-size: large;
    font-family: Jupiter-Regular;
    text-align: center;

}
#WIPCont {
    font-size: x-large;
    font-family: monospace;
    background-color: rgb(255, 240, 221);
}

.footer {
    background-color: rgb(177, 177, 177);
    box-shadow: 0px -7px 23px 0px rgba(0,0,0,0.34);
}