@font-face {
    font-family: Jupiter-Regular;
    src: url("../assets/Font/JupiteroidRegular-8Oeg0.ttf");
}



#TopNavBar {
    background-color: rgb(131, 182, 131);
    background-size: 125px;
    box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.38);
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Jupiter-Regular;
    border-radius: 8px;
}

#topbarbtns {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
#HomeBtnContainer {
    transform: translate(50px, 0px);
    
}
#CVBtnContainer {
    transform: translate(75px, 0px);
}

#HomeBtn {
    font-family: Jupiter-Regular;
    font-size: xx-large;
    border: none;
    border-radius: 4px;
    background-color: rgb(210, 243, 244);
    text-align: center;
    background-position: center;    
    text-decoration: none;
    color: black;
}

#CVBtn {
    font-family: Jupiter-Regular;
    font-size: xx-large;
    border: none;
    border-radius: 4px;
    background-color: rgb(210, 243, 244);
    text-align: center;
    background-position: center;
    text-decoration: none;
    color: black;
}
.body {
    padding-bottom: 25px;
}

#Introslideshow {
    position: relative;
    background-image: url("../assets/Img/image.png");
    background-size: cover;
    background-position: center;
    text-align: center;
}
#introImg {
    size: cover;
    filter: blur(8px);
    filter: saturate(30%);
    filter: brightness(40%);
    box-shadow: 0px 0px 83px 11px #000000;
}
#slideshowcaption {
    opacity: 100%;
    position: absolute;
    left: 650px;
    bottom: 75px;
    font-family: Jupiter-Regular;
    font-size: 55px;
    color: ivory;
     
}

#slideshowcaptiondesc {
    position: absolute;
    opacity: 100%;
    left: 550px;
    bottom: 70px;
    font-family: Jupiter-Regular;
    font-size: 35px;
    color: ivory;
}
#WIPCont {
    font-size: x-large;
    font-family: monospace;
    background-color: rgb(255, 240, 221);
}

.footer {
    background-color: rgb(177, 177, 177);
    box-shadow: 0px -7px 23px 0px rgba(0,0,0,0.34);
}