@font-face {
    font-family: Jupiter-Regular;
    src: url("../assets/Font/JupiteroidRegular-8Oeg0.ttf");
}

#body {
    background-color: #FAF7F0;
}


#TopNavBar {
    background-color: #D8D2C2;
    background-size: 125px;
    box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.38);
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Jupiter-Regular;
    border-radius: 8px;
}

#topbarbtns {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
#HomeBtnContainer {
    transform: translate(50px, 0px);
    
}
#CVBtnContainer {
    transform: translate(75px, 0px);
}

#HomeBtn {
    font-family: Jupiter-Regular;
    font-size: xx-large;
    border: none;
    border-radius: 4px;
    background-color: #D8D2C2;
    text-align: center;
    background-position: center;    
    text-decoration: none;
    color: #110d0b;
    padding-left: 10px;
    padding-right: 10px;
}
#HomeBtn:hover {
    font-family: Jupiter-Regular;
    font-size: xx-large;
    border: none;
    border-radius: 4px;
    background-color: #e2ded1;
    text-align: center;
    background-position: center;    
    text-decoration: none;
    color: #110d0b;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    padding-bottom: 10px;
}

#CVBtn {
    font-family: Jupiter-Regular;
    font-size: xx-large;
    border: none;
    border-radius: 4px;
    background-color: #D8D2C2;
    text-align: center;
    background-position: center;
    text-decoration: none;
    color: #110d0b;
    padding-left: 10px;
    padding-right: 10px;
}
#CVBtn:hover {
    font-family: Jupiter-Regular;
    font-size: xx-large;
    border: none;
    border-radius: 4px;
    background-color: #e2ded1;
    text-align: center;
    background-position: center;
    text-decoration: none;
    color: #110d0b;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    padding-bottom: 10px;
}
.body {
    padding-bottom: 25px;
    background-color: #f7f4f3;
}

#Introslideshow {
    padding: 25px;
    max-width: fit-content;
    position: relative;
    margin: auto;
    background-color: #eee9db;
    border-radius: 3px;
}
.slide {
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: 4;}
    to {opacity: 1;}
}




/*#introImg1 {
    size: cover;
    filter: blur(8px);
    filter: saturate(30%);
    filter: brightness(40%);
    /*box-shadow: 0px 0px 83px 11px #000000;
}
#introImg2 {
    size: cover;
    filter: blur(8px);
    filter: saturate(30%);
    filter: brightness(80%);
    box-shadow: 0px 0px 83px 11px #000000;
}
#introImg1 {
    size: cover;
    filter: blur(8px);
    filter: saturate(30%);
    filter: brightness(1%);
    box-shadow: 0px 0px 83px 11px #000000;
}
*/

.GridContainer {
    align-items: center;
    justify-items: center;
    background-position: center;
    padding: 50px;
    display: grid;
    grid: 
        'a a b b'
        'c c d d';
    row-gap: 75px;
}
#GItem1 {
    grid-area: a;

}
#GItem2 {
    grid-area: b;

}
#GItem3 {
    grid-area: c;

}
#GItem4 {
    grid-area: d;

}



#WIPCont {
    font-size: x-large;
    font-family: monospace;
    background-color: rgb(255, 240, 221);
    padding-left: 10px;
    padding-bottom: 10px;
}

.footer {
    background-color: rgb(177, 177, 177);
    box-shadow: 0px -7px 23px 0px rgba(0,0,0,0.34);
}