@font-face {
    font-family: Jupiter-Regular;
    src: url("../assets/Font/JupiteroidRegular-8Oeg0.ttf");
}



#TopNavBar {
    background-color: honeydew;
    background-size: 125px;
    box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.38);
    font-size: xx-large;
    font-family: Jupiter-Regular;
}


#HomeOption {
    padding-left: 50px;
}
#HomeOption:link {
    color: black;
    text-decoration: none;
}
#HomeOption:hover {
    color: darkgrey;
    text-decoration: none;
}
#HomeOption:visited {
    color: black;
    text-decoration: none;
}

#cVoption {
    padding-left: 75px;
    transform: translate(200px, 0px);
}
#cVoption:link {
    color: black;
    text-decoration: none;
}
#cVoption:hover {
    color: darkgrey;
    text-decoration: none;
}
#cVoption:visited {
    color: black;
    text-decoration: none;
}


.body {
    padding-top: 25px;
    padding-bottom: 25px;
}

#IntroBox {
    padding-top: 25px;
    background-image: url("../assets/Img/image.png");
    background-position: center;
    background-size: cover;
    align-content: center;
    font-size: large;
    font-family: Jupiter-Regular;
    text-align: center;

}
#WIPCont {
    font-size: x-large;
    font-family: monospace;
    background-color: rgb(255, 240, 221);
}

.footer {
    background-color: rgb(177, 177, 177);
    box-shadow: 0px -7px 23px 0px rgba(0,0,0,0.34);
}